# Environment
.env
*.env
!.env.example

# Dependencies
node_modules/
*/node_modules/

# Build
dist/
*/dist/
build/

# Docker
.docker/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite